/*.content{
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:auto

}
.heading{
    font-weight:700;
}
.container{
    height:100vh;
    overflow-y: auto;
}
.navbar-ht{
    height:5vh;
}*/

